{% extends 'base.html' %}


{% block content %}

    <div>
      {% include 'partials/message.html' %}
    </div>
    <div class="container py-5 col-7">
        <div class="col-md-8 offset-2">

        
        
        
        <div class="card mb-4" id="forms">
          <div class="d-flex justify-content-center align-item-center">
            <i class="bi bi-person-circle lg" style="font-size: 5rem;"></i>
          </div>
          <div class="card-body">

           

            <form method="post" action="" enctype="multipart/form-data">
              <fieldset>
                {% csrf_token %}

                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <div>
                    <button class="btn btn-primary w-100 mt-2" type="submit">SingIn</button>
                </div>
                
              </fieldset>

              {% if form.errors %}
              <ul>
                  {% for field in form %}
                      {% for error in field.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  {% endfor %}
              </ul>
          {% endif %}

            </form>

            <hr>

            Already have an account? <a href="{% url 'login' %}">SignIn</a>
            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}