{% extends 'base.html' %}

{% block content %}
<h1>Doctor List</h1>

{% for doctor in doctors %}
    
        <div class=" container card d-flex w-50 ">
           <div class="card-body d-flex flex-1">
            <img src="{{ doctor.profilePic.url}}" alt="{{ doctor.name }} Profile Picture" style="width: 60px;height: 60px; border-radius: 50%;">
            <div>
                <h2>{{doctor.username }}</h2>
                 <h5>{{ doctor.email }}</h5>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <a href="{% url 'book_appointment' doctor_id=doctor.id %}" class=" btn btn-primary mt-2 ">Appointment link</a>
                
            </form>
           </div>

        </div>
    
{% endfor %}

{% endblock %}