{% extends 'base.html' %}

{% block content %}
<h1>Book Appointment here</h1>
<!-- <h2>Doctor: {{ doctor.name }}</h2> -->
<div class="w-50 card p-4 container">
    <form method="post">
        {% csrf_token %}
        <label for="speciality" class="form form-label">Speciality:</label>
        <input type="text" id="speciality" name="speciality" class="form form-control"required><br>
        <!-- <label for="appointment_date">Appointment Date:</label>
        <input type="datetime-local" id="appointment_date" name="appointment_date" required><br> -->
        <label for="appointment_start_time" class="form form-label">Appointment Start Time:</label>
        <input type="datetime-local" id="appointment_start_time" name="appointment_start_time"  class="form form-control"required><br>
        <input type="submit" value="Confirm" class="btn btn-primary">
    </form>
</div>
{% endblock %}