{%extends 'base.html'%}

{% load blog_tags %}
{% load static %}
{%block content%}

<style>
  :-webkit-scrollbar {
  display: none;
}
</style>
<div class="d-flex">
    <div id="sidebar"class="col-sm-3 bg-light shadow-lg p-3  bg-body rounded " style="min-height:100vh">
        <div class="d-flex flex-row justify-content-center card-header">
            {% if user.profilePic %}
                <img style="height: 5rem; width: 5rem; border-radius: 50%;" src="{{user.profilePic.url}}" alt="not found">
              {% else %}
              <i class="bi bi-person-circle lg" style="font-size: 5rem;"></i>
              {% endif %}
            <hr>
              
            </div>

            <!-- for personal details  -->
            <div>
      
              <ul class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  Personal Details</a>
                <li class="list-group-item list-group-item-action">Username: {{user}}</li>
                <li class="list-group-item list-group-item-action">First Name: {{user.first_name}}</li>
                <li class="list-group-item list-group-item-action">LastName :{{user.last_name}}</li>
                <li class="list-group-item list-group-item-action">Email :{{user.email}}</li>
                <li class="list-group-item list-group-item-action">Address :{{user.address}}</li>
              </ul>
            </div>

           
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  Post
                </a>
                <a href="/blog/addblog"  class="list-group-item list-group-item-action">AddPost</a>
                <a href="/appointment/token/"  class="list-group-item list-group-item-action">Provide Calander Access</a>
                <a href="#"  class="list-group-item list-group-item-action">See Published Post</a>
                <a href="#"  class="list-group-item list-group-item-action">See Draft Post</a>
                
                
              </div>
     </div>
<div class="col-sm-9" >

     <!-- right box  -->

  <div class="container d-sm-flex flex-wrap mx-auto justify-content-center " style="height: 100vh; overflow-y: scroll;">
      <!-- <div class="d-sm-flex"> -->
          {% for post in posts %}
           <div class="card mx-2 my-2 shadow-lg  mb-5 bg-body rounded " style="width: 20rem;height:400px;">
            <a href="{{post.get_absolute_url}}"><img class="card-img-top img-fluid" style="object-fit: cover; height: 200px; width: 100%;" src=" {{post.image.url}}" alt="not found"></a>
            <a href="{{post.get_absolute_url}}">
              
            </a>
           <div class="card-body">
             <h5 class="card-title "><a class="text-decoration-none" href="{{post.get_absolute_url}}"  class="card-title text-center">{{post.title|truncatechars:50}}</a></h5>
             
             <div class="   text-center">
              <button class="btn btn-primery"><a href="{{post.get_absolute_url}}" class="btn btn-primary">Read more</a></button>
               <div class="d-flex flex-wrap justify-content-center">
                <h6 class="card-title px-2">Author :{{post.author}}</h6>
               <h6 class="card-title px-2 text-muted ">{{post.publish | timesince}}</h6>
            </div>
            <h6 class="card-title px-2 text-muted ">Status{{post.status}}</h6>
                 
              </div>
            </div>
          </div>
        {%endfor%}
          
     </div>
</div>

     

      
</div>





{%endblock content%}